@{
    ViewData["Title"] = "Contacts";
}
<h1>@ViewData["Title"]</h1>

<p>If you have any enquiry, please contact the host of the party at:</p>

<ul style="list-style-type: none;">
    <li>
        <i class="fa-solid fa-phone"></i>
        +1 234 777 999
    </li>

    <li>
        <i class="fa-solid fa-envelope"></i>
        faire.la.fete@yahoo.com.fr
    </li>
</ul>