@{
    ViewData["Title"] = "Let's Party";
}


   
<div class="text-center m-2">
    <h1> We're going to have an exciting party!</h1>
    <h2>And YOU are invited!</h2>
    <img src="~/images/faire-la-fête.jpg" class="index-image" alt="My image" />

    <div>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Rsvp">RSVP Now</a>
    </div>
</div>


