@{
    ViewData["Title"] = "Let's Party";
}


   
<div class="center">
    <h1>
        Join our exciting party
    </h1>

    <img src="~/images/faire-la-fête.jpg" class="index-image" alt="My image" />

</div>


